<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <script type="text/javascript" src="../lib/angularjs/angular.js"></script>
    <script type="text/javascript" src="../src/application.js"></script>
    <script type="text/javascript" src="../src/controller/MainController.js"></script>
    <title>Learning AngularJS!</title>
  </head>
  <body>
    <section id="content" ng-app="MyTutorialApp" ng-controller="MainController">
      <input type="text" ng-model="searchText" placeholder="Filter people...">
      <ul>
        <li ng-repeat="person in people | filter:searchText" ng-show="person.live">#{{person.id}} {{person.name}}</li>
      </ul>
      <input type="text" ng-model="newPerson">
      <button ng-click="addNew()">Add</button>
    </section>
    <div id="test">Whatcha looking at?</div>
  </body>
</html>