!!! 5
html
    head
        link(rel="stylesheet", type="text/css", href="style/style.css")
        script(type="text/javascript", src="../lib/angularjs/angular.js")
        script(type="text/javascript", src="../src/application.js")
        script(type="text/javascript", src="../src/controller/MainController.js")
        title Learning AngularJS!
    body
        section#content(ng-app="MyTutorialApp", ng-controller="MainController")
            input(type="text", ng-model="searchText", placeholder="Filter people...")
            ul
                li(ng-repeat="person in people | filter:searchText", ng-show="person.live") \#{{person.id}} {{person.name}}
            input(type="text", ng-model="newPerson")
            button(ng-click="addNew()") Add
        include test/sub