!!! 5
html
    head
        title QUnit Tests
        link(rel="stylesheet", href="../lib/qunit/qunit-1.12.0.css")
        link(rel="stylesheet", href="style/style.css")
    body
        #qunit
        #qunit-fixture
        script(src="../lib/qunit/qunit-1.12.0.js")
        script(src="../test/tests.js")